[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gremlinpython = "==3.5.0"
starlette = "*"
aiohttp = "*"
starlette-graphene3 = "*"
broadcaster = "*"
websockets = "*"

[dev-packages]
pytest = "6.2.4"
pytest-cov = "*"

[requires]
python_version = "3.8"

[packages.cbf33be]
path = "git+http://github.com/mirumee/ariadne.git@master"
