[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gremlinpython = "==3.5.0"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
